[Interface]
Address = {{ peer_ip }}
PrivateKey = {{ client_private_key.stdout }}

[Peer]
PublicKey = {{ server_public_key.stdout }}
Endpoint = {{ ansible_default_ipv4.address }}:{{ wireguard_server_port }}
AllowedIPs = {{ wireguard_peers_allowed_ips }}
PersistentKeepalive = 25