---
- name: Generate the WireGuard private and public keys
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      umask 077
      wg genkey | tee {{ __wireguard_name_server_private_key }} | wg pubkey > {{ __wireguard_name_server_public_key }}
  args:
    chdir: /etc/wireguard
    creates: "{{ __wireguard_name_server_public_key }}"
    executable: /bin/bash

- name: Get the WireGuard private key
  no_log: true
  ansible.builtin.command: "cat /etc/wireguard/{{ __wireguard_name_server_private_key }}"
  register: __wireguard_server_private_key
  changed_when: false

- name: Get the WireGuard public key
  no_log: true
  ansible.builtin.command: "cat /etc/wireguard/{{ __wireguard_name_server_public_key }}"
  register: __wireguard_server_public_key
  changed_when: false

- name: Generate server configuration
  ansible.builtin.template:
    src: server.conf.j2
    dest: /etc/wireguard/{{ wireguard_interface }}.conf
    owner: root
    group: root
    mode: '644'

- name: Create {{ __wireguard_root_dir_client_conf }}
  ansible.builtin.file:
    path: "{{ __wireguard_root_dir_client_conf }}"
    state: directory
    owner: root
    group: root
    mode: '644'

- name: Start wireguard service and enable on boot
  ansible.builtin.systemd:
    name: "wg-quick@{{ wireguard_interface }}"
    enabled: true
    state: started
