---
name: Lint

on:
  push

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        with:
          args: "--show-relpath"